# DATA TYPES AND STRUCTURES ASSIGNMENT

#Theoritical Questions

# 1. What are data structures, and why are they important?
"Data structures are ways to organize and store data so it can be used efficiently. They are important because they help in managing data easily and improving the performance of programs. Common data structures in Python include lists, dictionaries, tuples, and sets. Choosing the right one makes code faster and easier to understand.
"

#2. Explain the difference between mutable and immutable data types with examples?
"Mutable data types can be changed after creation, while immutable ones cannot be modified once created.
Examples of mutable types: list, dict, set (e.g., my_list.append(5)). Examples of immutable types: int, str, tuple (e.g., strings can't be changed directly).
This affects how data behaves when passed to functions or modified.
"

# 3. What are the main differences between lists and tuples in Python?
"Lists can be changed after creation, while tuples cannot be modified once created.
Lists use square brackets [] and tuples use parentheses ().
Lists are slower but more flexible, whereas tuples are faster and use less memory.
Tuples are often used for fixed data, and lists for dynamic data."

# 4.Describe how dictionaries store data.
"Dictionaries store data as key-value pairs.
Each key is unique and maps to a specific value.
They use a hash table internally to allow fast access to values using keys.
You can add, update, or remove key-value pairs as needed.
"

# 5. Why might you use a set instead of a list in Python?
"We use a set when you want to store only unique items without duplicates.
Sets are faster than lists for checking if an item exists.
They are useful for comparing data, like finding common or different items.
Unlike lists, sets do not keep the order of elements."

#6. What is a string in Python, and how is it different from a list?
"A string in Python is a sequence of characters like words or sentences.
It is immutable, meaning it cannot be changed after creation.
A list is a collection of items that can be changed, and it can hold different data types.
Strings only hold characters, while lists can hold numbers, strings, or other lists.
"

#7. How do tuples ensure data integrity in Python?
"Tuples ensure data integrity by being immutable, meaning their values cannot be changed after creation.
This prevents accidental changes to the data during program execution.
They are useful when you want to store fixed data that should stay constant.
Because of this, tuples are safer to use for read-only or constant values.
"

#8. What is a hash table, and how does it relate to dictionaries in Python?
"A hash table is a data structure that stores data using a key and a hash function.
It allows quick access to values by converting keys into indexes.
In Python, dictionaries use hash tables to store key-value pairs.
This makes lookups, insertions, and deletions fast and efficient.
"

#9.  Can lists contain different data types in Python?
"Yes, lists in Python can contain different data types.
You can store integers, strings, floats, or even other lists in the same list.
This makes lists very flexible for storing mixed data.
Each element in the list is treated as an individual object.
"

#10.  Explain why strings are immutable in Python
"Strings are immutable in Python to make them safe and efficient to use.
Once a string is created, it cannot be changed, which helps avoid unexpected bugs.
It also allows Python to store strings in memory more efficiently.
If we need a different string, a new one is created instead of changing the old one."

#11. What advantages do dictionaries offer over lists for certain tasks?
"Dictionaries let us store data using key-value pairs, making it easier to find values using meaningful keys.
They offer faster lookups compared to lists, especially for large amounts of data.
We can access data directly using a key instead of searching through indexes.
This makes dictionaries better for tasks like storing and retrieving user information."

#12. Describe a scenario where using a tuple would be preferable over a list
"Using a tuple is better when we want to store data that should not change, like coordinates or fixed settings.
For example, storing the days of the week in a tuple prevents accidental modifications.
Tuples also use less memory and are slightly faster than lists.
They are ideal for returning multiple values from a function safely."

#13. How do sets handle duplicate values in Python?
"Sets automatically remove duplicate values when we create or update them.
If we add the same item more than once, it will appear only once in the set.
This helps us keep only unique elements in our data.
Sets are useful when we need to eliminate duplicates quickly."

# 14. How does the “in” keyword work differently for lists and dictionaries?
"In a list, the "in" keyword checks if a value exists among the list elements.
In a dictionary, "in" checks if a key exists, not a value.
This means we use it to look for values in lists but for keys in dictionaries.
To check for a value in a dictionary, we need to use dictionary.values()."

#15. Can you modify the elements of a tuple? Explain why or why not?
"No, we cannot modify the elements of a tuple because tuples are immutable.
Once created, their values cannot be changed, added, or removed.
This helps protect data from accidental changes.
If we need a different set of values, we must create a new tuple."

#16. What is a nested dictionary, and give an example of its use case.
"A nested dictionary is a dictionary that contains another dictionary as a value.
It helps us organize related data in a structured way.
For example, we can store student information where each student's name maps to another dictionary with their details.
This is useful for managing complex data like user profiles or product catalogs."

#17. Describe the time complexity of accessing elements in a dictionary
"Accessing elements in a dictionary has an average time complexity of O(1).
This means we can retrieve values quickly using their keys, no matter the size of the dictionary.
It works fast because dictionaries use a hash table internally.
In rare cases of hash collisions, the time may go up, but it’s still efficient."

# 18.  In what situations are lists preferred over dictionaries?
"Lists are preferred when we need to store items in a specific order.
They are useful when we want to access elements by position using indexes.
Lists are also better for simple collections of data without named keys.
We use them when the relationship between items is based on order, not key-value pairs."

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
"Dictionaries are considered unordered because they do not store items in a fixed sequence based on how we add them.
Instead, they use keys and hash values to organize data for quick access.
This means we cannot rely on the order of items when retrieving data.
We should always access data by key, not by position."

# 20.  Explain the difference between a list and a dictionary in terms of data retrieval.
"In a list, we retrieve data using an index number that shows the position of the item.
In a dictionary, we retrieve data using a key that is linked to a specific value.
Lists are better when the order matters, and dictionaries are better for quick lookups.
Dictionaries give faster access when we know the key."

# Practical Questions

#1. Write a code to create a string with your name and print it

In [1]:
name = "Rahul Das"
print(name)

Rahul Das

#2.Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase

In [4]:
text = "hello"
print(text.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {"name": "Rahul", "age": 25, "city": "Delhi"}
print(person)

{'name': 'Rahul', 'age': 25, 'city': 'Delhi'}

#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8, 'c': 9}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8, 'c': 9}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [27]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[4, 8, 16, 62, 86]

#28. Write a code to create a list with strings and print the element at the third index

In [29]:
words = ["apple", "banana", "cherry", "date", "berry"]
print(words[3])

date

# 29. Write a code to combine two dictionaries into one and print the result

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30.  Write a code to convert a list of strings into a set

In [32]:
words = ['apple', 'banana', 'cherry']
words_set = set(words)
print(words_set)

{'banana', 'apple', 'cherry'}